.post-img{
    /* height: 475px; */
    width: 100%;
    height: 725px;
    overflow: hidden;

}

.post-img img{
    width: 100%;
    /* margin-top: 14px; */
    opacity: 1.0;
}

.blog-post-content{
    /* color: brown; */
}

.blog-post-content h1{
    text-align: right;
}

.blog-post-content p{
    font-size: 18px;
    /* text-align: right; */
    padding-left: 50px;
    padding-right: 50px;
}

.row{
    display: flex;
}

.more-post{
    flex-direction: column;
    /* align-items: center; */
    align-items: start;
}